/** @format */

/* CSS VARIABLES */
body {
	--footer-height: 10vh;
	--bg-overlay: rgba(94, 94, 94, 0.35);
	--black: rgba(36, 35, 41, 255);
}

/* CSS for mobile */
#page-background-image {
	height: calc(100vh - var(--footer-height));
	width: 100vw;
	object-fit: cover;
}

#page-background-overlay {
	background-color: var(--bg-overlay);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: var(--footer-height);
}

#logo {
	color: white;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 24px;
	font-family: "Synonym-Bold";
}

#timer-section {
	position: absolute;
	inset: 0;
	height: calc(100vh - var(--footer-height));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.timer-buttons {
	margin: 0 5px;
	background-color: rgba(0, 0, 0, 0);
	border-color: white;
	padding: 5px 10px;
	border-radius: 20px;
	border-style: solid;
	width: 100px;
	color: white;
	font-family: "Synonym-Semibold";
	font-size: 14px;
	cursor: pointer;
}

.timer-buttons-active {
	background-color: white;
	color: var(--black);
}

.timer-buttons:hover {
	background-color: white;
	color: var(--black);
}

#timer-countdown {
	color: white;
	font-family: "Synonym-Bold";
	font-size: 96px;
}

.timer-control-buttons {
	margin: 0 5px;
	background-color: white;
	border-color: white;
	padding: 5px 10px;
	border-radius: 20px;
	border-style: solid;
	width: 100px;
	color: var(--black);
	font-family: "Synonym-Semibold";
	font-size: 20px;
	cursor: pointer;
}

.timer-control-buttons:hover {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

#spotify-playlist {
	position: absolute;
	left: 0;
	right: 0;
	bottom: calc(var(--footer-height) + 10vh);
	width: 75vw;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: var(--black);
	font-family: "Synonym-Semibold";
	height: var(--footer-height);
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.fa-brands {
	color: white;
	padding: 10px;
}

/* CSS for landscape tablets and up */
@media only screen and (min-width: 768px) {
	.timer-buttons {
		width: 150px;
		font-size: 18px;
	}

	.timer-control-buttons {
		width: 150px;
		font-size: 24px;
	}

	#spotify-playlist {
		left: auto;
		right: 50px;
		width: 400px;
		height: 152px;
		margin-left: 0;
		margin-right: 0;
	}
}
