/** @format */

/* CSS VARIABLES */
body {
	--footer-height: 10vh;
	--bg-overlay: rgba(94, 94, 94, 0.35);
	--black: rgba(36, 35, 41, 255);
}

/* global declarations */
li {
	line-height: 2;
}

/* background image */

#page-background-image {
	height: calc(100vh - var(--footer-height));
	width: 100vw;
	object-fit: cover;
}

#page-background-overlay {
	background-color: var(--bg-overlay);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: var(--footer-height);
}

/* menu bar */

#menu-bar {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100vw;
	padding: 20px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	font-size: 20px;
	font-family: "Synonym-Bold";
}

.nav-button {
	display: inline;
	font-family: "Synonym-Semibold";
	cursor: pointer;
	padding: 0 5px;
}

.nav-button:hover {
	text-decoration: underline;
}

@media only screen and (min-width: 768px) {
	#logo {
		font-size: 24px;
	}
}

/* timer */

#timer-section {
	position: absolute;
	inset: 0;
	height: calc(100vh - var(--footer-height));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#progress-section {
	padding: 40px;
}

.fa-star {
	padding: 0 5px;
	color: white;
}

.timer-buttons {
	margin: 0 5px;
	background-color: rgba(0, 0, 0, 0);
	border-color: white;
	padding: 5px 10px;
	border-radius: 20px;
	border-style: solid;
	width: 100px;
	color: white;
	font-family: "Synonym-Semibold";
	font-size: 14px;
	cursor: pointer;
}

.timer-buttons-active {
	background-color: white;
	color: var(--black);
}

.timer-buttons:hover {
	background-color: white;
	color: var(--black);
}

#timer-countdown {
	color: white;
	font-family: "Synonym-Bold";
	font-size: 96px;
}

.timer-control-buttons {
	margin: 0 5px;
	background-color: white;
	border-color: white;
	padding: 5px 10px;
	border-radius: 20px;
	border-style: solid;
	width: 100px;
	color: var(--black);
	font-family: "Synonym-Semibold";
	font-size: 20px;
	cursor: pointer;
}

.timer-control-buttons:hover {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

@media only screen and (min-width: 768px) {
	.timer-buttons {
		width: 150px;
		font-size: 18px;
	}

	.timer-control-buttons {
		width: 150px;
		font-size: 24px;
	}
}

/* spotify playlist */

#spotify-playlist {
	position: absolute;
	left: 0;
	right: 0;
	bottom: calc(var(--footer-height) + 10vh);
	width: 75vw;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 768px) {
	#spotify-playlist {
		left: auto;
		right: 50px;
		width: 400px;
		height: 152px;
		margin-left: 0;
		margin-right: 0;
	}
}

/* message modal */

#message-popup {
	display: none;
}

#message-overlay {
	background-color: var(--bg-overlay);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: var(--footer-height);
}

#message-container {
	background-color: white;
	position: relative;
	top: 10vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 85px;
	width: 75vw;
	border-radius: 20px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#message-close {
	width: 95%;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

#message {
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

@media only screen and (min-width: 768px) {
	#message-container {
		height: 75px;
		width: 30vw;
	}
}

/* about modal */
#about-modal {
	display: none;
}

#about-overlay {
	background-color: var(--bg-overlay);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: var(--footer-height);
}

#about-container {
	background-color: white;
	position: relative;
	top: 25vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	min-height: 25px;
	width: 90vw;
	border-radius: 20px;
	padding: 20px;
}

#about-close {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

#about-container h1 {
	font-size: 16px;
	font-family: "Synonym-Semibold";
	margin: 5px 0;
}

#about-container ul {
	font-size: 12px;
}

@media only screen and (min-width: 600px) {
	#about-container {
		padding: 30px;
	}

	#about-container h1 {
		font-size: 18px;
		font-family: "Synonym-Semibold";
	}

	#about-container ul {
		font-size: 12px;
	}
}

@media only screen and (min-width: 768px) {
	#about-container {
		min-height: 85px;
		width: 50vw;
		padding: 50px;
	}

	#about-container h1 {
		font-size: 20px;
		font-family: "Synonym-Semibold";
	}

	#about-container ul {
		font-size: 14px;
	}
}

/* credits modal */
#credits-modal {
	display: none;
}

#credits-overlay {
	background-color: var(--bg-overlay);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: var(--footer-height);
}

#credits-container {
	background-color: white;
	position: relative;
	top: 15vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	min-height: 25px;
	width: 90vw;
	border-radius: 20px;
	padding: 20px;
}

#credits-close {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

#credits-container h1 {
	font-size: 16px;
	font-family: "Synonym-Semibold";
}

#credits-container h2 {
	font-family: "Synonym-Semibold";
	font-size: 14px;
	margin-top: 10px;
}

#credits-container ul {
	font-size: 12px;
}

@media only screen and (min-width: 600px) {
	#credits-container {
		padding: 30px;
	}

	#credits-container h1 {
		font-size: 18px;
		font-family: "Synonym-Semibold";
	}

	#credits-container h2 {
		font-family: "Synonym-Semibold";
		margin-top: 12px;
	}

	#credits-container ul {
		font-size: 12px;
	}
}

@media only screen and (min-width: 768px) {
	#credits-container {
		min-height: 85px;
		width: 50vw;
		padding: 50px;
	}

	#credits-container h1 {
		font-size: 20px;
		font-family: "Synonym-Semibold";
	}

	#credits-container h2 {
		margin-top: 15px;
	}

	#credits-container ul {
		font-size: 14px;
	}
}

/* footer */

footer {
	background-color: var(--black);
	font-family: "Synonym-Semibold";
	height: var(--footer-height);
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.fa-brands {
	color: white;
	padding: 10px;
}
