/** @format */

body {
	--footer-height: 10vh;
}

#page-background-image {
	height: calc(100vh - var(--footer-height));
	width: 100vw;
	object-fit: cover;
}

#page-background-overlay {
	background-color: rgba(94, 94, 94, 0.35);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: var(--footer-height);
}
