<!-- @format -->

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1, width=device-width" />

		<link rel="stylesheet" href="./static/css/reset.css" />
		<link rel="stylesheet" href="./static/css/base.css" />

		<title>Pomodoro Timer</title>
	</head>

	<body>
		<!-- <img id="page-background-image" src="/static/assets/dried-flowers.jpg" alt="dried-flowers" /> -->
        <img id="page-background-image" src={{ imageURL }} alt="dried-flowers" />
		<div id="page-background-overlay"></div>
	</body>
</html>
